<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Voter Home</title>
	<script src="../scripts/utils.js" type="text/javascript"></script>
	<script src="../scripts/VoterHome.js" type="text/javascript"></script>
</head>

<body>

<h1>Welcome voter: </h1><h1 id="Welcomer" onload="LodeUsername();"></h1>
<br>

<div>

<h2>All Elections related to you:</h2>
<br>
<div id="VoterDisplayElection" onload="LodeVoterElections();"></div>
<br>

</div>

<button onclick="BackToIndex();">Go back</button>



</body>





</html>