<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>User Home</title>
<meta name="description" content="Home Page">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css"
	href="../../lib/bootstrap/css/bootstrap.css">
<link rel="stylesheet"
	href="../../lib/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../../css/theme.css">
<link rel="stylesheet" type="text/css" href="../../css/premium.css">




<style type="text/css">
#line-chart {
	height: 300px;
	width: 800px;
	margin: 0px auto;
	margin-top: 1em;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #fff;
}
</style>



</head>

<body class=" theme-blue">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<!-- Le fav and touch icons -->
	<!-- link rel="shortcut icon" href="../assets/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144"
		href="../assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114"
		href="../assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72"
		href="../assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed"
		href="../assets/ico/apple-touch-icon-57-precomposed.png"-->


	<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
	<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
	<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
	<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!-->

	<!--<![endif]-->

	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class=""><span class="navbar-brand"><span
					class="fa fa-paper-plane"></span> SmartVote</span></a>
		</div>

		<!-- navigation bar in the top  -->
		<div class="navbar-collapse collapse" style="height: 1px;">
			<ul id="main-menu" class="nav navbar-nav navbar-right">
				<li class="dropdown hidden-xs"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown" id="welcomer"> </a>

					<!-- user icon in the upper riht corner  -->
					<ul class="dropdown-menu">
						<li><a>My Account</a></li>
						<li class="divider"></li>
						<li id="changeFirstPassword"><a
							onclick="changeFirstPassword()">Change password</a></li>
						<!--li><a href="./">xxxx</a></li-->
						<!--li><a tabindex="-1" href="./">xxxx</a></li-->
						<li class="divider"></li>
						<li><a tabindex="-1" onclick="jumpToLogin()">Logout</a></li>
					</ul></li>
			</ul>

		</div>
	</div>

	<!-- sidebar in the left side of the screen  -->
	<div class="sidebar-nav">
		<ul>
			<li><a href="#" data-target=".dashboard-menu" class="nav-header"
				data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i>
					Dashboard<i class="fa fa-collapse"></i></a></li>
			<li><ul class="dashboard-menu nav nav-list collapse in">
					<li id="main"><a onclick="showDefaultContent()"><span
							class="fa fa-caret-right"></span>Main</a></li>
					<li id="showPolls"><a onclick="showPolls()"><span
							class="fa fa-caret-right"></span>Polls list</a></li>
					<li id="createPoll"><a onclick="createPoll()"><span
							class="fa fa-caret-right"></span>Create a Poll</a></li>
					<li><a href="#"><span class="fa fa-caret-right"></span>
							Under-Construction</a></li>
				</ul></li>

			<li><a href="#" data-target=".legal-menu"
				class="nav-header collapsed" data-toggle="collapse"><i
					class="fa fa-fw fa-legal"></i> Legal<i class="fa fa-collapse"></i></a></li>
			<li><ul class="legal-menu nav nav-list collapse">
					<li><a href="#"><span class="fa fa-caret-right"></span>
							Privacy Policy</a></li>
					<li><a href="#"><span class="fa fa-caret-right"></span>
							Terms and Conditions</a></li>
				</ul></li>

			<li><a href="#" class="nav-header"><i
					class="fa fa-fw fa-question-circle"></i> Help</a></li>
			<li><a href="#" class="nav-header"><i
					class="fa fa-fw fa-comment"></i> Faq</a></li>
			<li><a href="https://github.com/E-Movement/SmartVote"
				class="nav-header" target="blank"><i class="fa fa-fw fa-heart"></i>Under-Construction</a></li>
		</ul>
	</div>

	<!-- User/organizer notifications-->
	<div class="content" id="contentContainer">
		<div class="header">
			<div class="stats">
				<p class="stat">
					<span class="label label-info">5</span> Invitations
				</p>
				<p class="stat">
					<span class="label label-success">27</span> On-going Polls
				</p>
				<p class="stat">
					<span class="label label-danger">15</span> Overdue/Expired Polls
				</p>
			</div>

			<h1 class="page-title">Dashboard</h1>
			<ul class="breadcrumb">
				<li><a href="../../index.html">Home</a></li>
				<li class="active">Dashboard</li>
			</ul>

		</div>
		<div class="main-content" id="mainContentContainer">
			<div class="panel panel-default">
				<a href="#page-stats" class="panel-heading" data-toggle="collapse">Latest
					Statistics</a>
				<div id="page-stats" class="panel-collapse panel-body collapse in">

					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="knob-container">
								<input class="knob" data-width="200" data-min="0"
									data-max="3000" data-displayPrevious="true" value="2500"
									data-fgColor="#92A3C2" data-readOnly=true;>
								<h3 class="text-muted text-center">Related Poll list</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="knob-container">
								<input class="knob" data-width="200" data-min="0"
									data-max="4500" data-displayPrevious="true" value="3299"
									data-fgColor="#92A3C2" data-readOnly=true;>
								<h3 class="text-muted text-center">Polls You can
									Participate in</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="knob-container">
								<input class="knob" data-width="200" data-min="0"
									data-max="2700" data-displayPrevious="true" value="1840"
									data-fgColor="#92A3C2" data-readOnly=true;>
								<h3 class="text-muted text-center">Pending Polls</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="knob-container">
								<input class="knob" data-width="200" data-min="0"
									data-max="15000" data-displayPrevious="true" value="10067"
									data-fgColor="#92A3C2" data-readOnly=true;>
								<h3 class="text-muted text-center">Completed Polls</h3>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading no-collapse">
							Not Collapsible<span class="label label-warning"></span>
						</div>
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Username</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Kun</td>
									<td>Liu</td>
									<td>kl333</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="panel panel-default">
						<a href="#widget1container" class="panel-heading"
							data-toggle="collapse">Collapsible </a>
						<div id="widget1container" class="panel-body collapse in">
							<h2>TechLauncher is awesome!!!!!!</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-md-6">
					<div class="panel panel-default">
						<a href="#widget2container" class="panel-heading"
							data-toggle="collapse">Collapsible </a>
						<div id="widget2container" class="panel-body collapse in">
							<h2>TechLauncher is awesome!!!!!!</h2>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<footer>
		<hr>

		<p class="pull-right">
			A <a href="https://github.com/E-Movement/SmartVote" target="_blank">Techlauncher
				Project</a> by <a href="https://github.com/E-Movement/SmartVote"
				target="_blank">Team SmartVote</a>
		</p>
		<p>
			<a href="https://github.com/E-Movement/SmartVote" target="_blank">E-Movement</a>
		</p>
	</footer>

	<script type="text/javascript" src="../API/utils.js">
		
	</script>
	<script type="text/javascript" src="UserHomeAPI.js">
		
	</script>
	<script type="text/javascript" src="UserHome.js">
		
	</script>

	<script src="../../lib/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="../../lib/jQuery-Knob/js/jquery.knob.js"
		type="text/javascript"></script>
	<script src="../../lib/bootstrap/js/bootstrap.js"></script>
	<!--The scripts below have been moved to UserHome.js  -->
	<!-- <script type="text/javascript">
		$(function() {
			$(".knob").knob();
		});
	</script>

<script type="text/javascript">
		$(function() {
			var uls = $('.sidebar-nav > ul > *').clone();
			uls.addClass('visible-xs');
			$('#main-menu').append(uls.clone());
		});
	</script> -->




	<!-- <script type="text/javascript">
		$("[rel=tooltip]").tooltip();
		$(function() {
			$('.demo-cancel-click').click(function() {
				return false;
			});
		});
	</script>
<script type="text/javascript">
		$(function() {
			var match = document.cookie.match(new RegExp('color=([^;]+)'));
			if (match)
				var color = match[1];
			if (color) {
				$('body').removeClass(function(index, css) {
					return (css.match(/\btheme-\S+/g) || []).join(' ')
				})
				$('body').addClass('theme-' + color);
			}

			$('[data-popover="true"]').popover({
				html : true
			});

		});
	</script>
 -->


</body>
</html>
