<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SmartVote Login</title>
<link rel="stylesheet" type="text/css" href="../../css/style.css" />
<link rel="stylesheet" type="text/css" href="../../css/body.css" />
<script src="scripts/SmartVote.js" type="text/javascript"></script>
<script src="scripts/utils.js" type="text/javascript"></script>

</head>
<body>
	<div class="container">
		<section id="content">
		<form action="">
			<h1>SmartVote</h1>
			<div>
				<input type="text" placeholder="Username" id="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" id="password" />
			</div>
			<div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
			</div>
			<div>
				<!-- <input type="submit" value="Log in" /> -->
				<input type="submit" onclick="jumpToUserHome()"
					value="login as Voter" class="btn btn-primary" id="js-btn-login" />
				<input type="submit" onclick="jumpToOrganizerHome()"
					value="login as ORG" class="btn btn-primary" id="js-btn-login" />
				<br></br>
				<br></br> <a href="../Registration/Register.html">Register</a> <a
					href="../RetrivePassword/RetrivePassword.html">Forgot your
					password?</a>
				<!-- <a href="#">Register</a> -->
			</div>



		</form>
		<!-- form -->
		<div class="button" style="text-align: center;">
			<!--  <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>-->
			<a href="https://github.com/E-Movement/SmartVote" target="_blank">What
				is SmartVote?</a>
		</div>
		<!-- button --> </section>
		<!-- content -->
	</div>
	<!-- container -->


	<br><br><br><br>
					<div style="text-align: center;">
						<p>
							Powered by: <a href="https://github.com/E-Movement"
								target="_blank">E-Movement</a>
						</p>
					</div>
</body>


</html>
