<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Register</title>


<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<link href="css/normalize.css" rel="stylesheet"/>
<link href="css/jquery-ui.css" rel="stylesheet"/>
<link href="css/jquery.idealforms.min.css" rel="stylesheet" media="screen"/>

<style type="text/css">
body{font:normal 15px/1.5 Arial, Helvetica, Free Sans, sans-serif;color: #222;background:url(pattern.png);overflow-y:scroll;padding:60px 0 0 0;}
#my-form{width:755px;margin:0 auto;border:1px solid #ccc;padding:3em;border-radius:3px;box-shadow:0 0 2px rgba(0,0,0,.2);}
#comments{width:350px;height:100px;}
</style>

</head>
<body>


<div class="row">

  <div class="eightcol last">

    <!-- Begin Form -->

    <form id="my-form">

        <section name="Step One">

          <div><label>Username:</label><input id="username" name="username" type="text"/></div>
          <div><label>Password:</label><input id="pass" name="password" type="password"/></div>
          <div><label>Email:</label><input id="email" name="email" data-ideal="required email" type="email"/></div>
          <div><label>Date of Birth:</label><input name="date" class="datepicker" data-ideal="date" type="text" placeholder="mm/dd/yyyy"/></div>
          <div><label>Upload your Avatar:</label><input id="file" name="file" multiple type="file"/></div>
          <div><label>Personal Website:</label><input name="website" data-ideal="url" type="text"/></div>
        </section>

        <section name="Step Two">
          <div id="languages">
            <label>Languages:</label>
            <label><input type="checkbox" name="langs[]" value="English"/>French</label>
            <label><input type="checkbox" name="langs[]" value="Chinese"/>Chinese</label>
            <label><input type="checkbox" name="langs[]" value="Spanish"/>ENglish</label>
            <label><input type="checkbox" name="langs[]" value="French"/>Spanish</label>
          </div>
          <div><label>XXXX:</label>
            <label><input type="radio" name="radio" checked/>1</label>
            <label><input type="radio" name="radio"/>2</label>
            <label><input type="radio" name="radio"/>3</label>
            <label><input type="radio" name="radio"/>4</label>
          </div>
        </section>

        <section name="Step Three">
          <div><label>Phone Number:</label><input type="tel" name="phone" data-ideal="phone"/></div>
          <div><label>Nationality:</label>
          <select id="states" name="states">
            <option value="default">&ndash; Nationality &ndash;</option>
            <option value="AL">Arab</option>
            <option value="AK">China</option>
            <option value="AZ">USA</option>
            <option value="AR">France</option>
            <option value="CA">Britain</option>
            <option value="CO">Germany</option>
            <option value="CT">Spain</option>
            <option value="DE">Russia</option>
          </select>
        </div>
        <div><label>PostCode:</label><input type="text" name="zip" data-ideal="zip"/></div>
        <div><label>Description:</label><textarea id="comments" name="comments"></textarea></div>
      </section>

      <div><hr/></div>

      <div>
        <button type="submit">Submit</button>
        <button id="reset" type="button">Reset</button>
      </div>

    </form>

    <!-- End Form -->

  </div>

</div>


<!-- js part -->

<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.idealforms.js"></script>
<script type="text/javascript">
var options = {

	onFail: function(){
		alert( $myform.getInvalid().length +' invalid fields.' )
	},

	inputs: {
		'password': {
			filters: 'required pass',
		},
		'username': {
			filters: 'required username',
			data: {
			//ajax: { url:'validate.php' }
			}
		},
		'file': {
			filters: 'extension',
			data: { extension: ['jpg'] }
		},
		'comments': {
			filters: 'min max',
			data: { min: 50, max: 200 }
		},
		'states': {
			filters: 'exclude',
			data: { exclude: ['default'] },
			errors : {
				exclude: 'Choose your Nationality.'
			}
		},
		'langs[]': {
			filters: 'min max',
			data: { min: 2, max: 3 },
			errors: {
				min: 'Check at least <strong>2</strong> options.',
				max: 'No more than <strong>3</strong> options allowed.'
			}
		}
	}
	
};

var $myform = $('#my-form').idealforms(options).data('idealforms');

$('#reset').click(function(){
	$myform.reset().fresh().focusFirst()
});

$myform.focusFirst();
</script>

<div style="text-align:center;">
<p>Powered By：<a href="http://www.e-movement.com/" title="E-Movement" target="_blank">E-Movement</a></p>
</div>
</body>
</html>