<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Create An account</title>
  <link type="text/css" rel="stylesheet" href="../css/default.css">
  <script src="./CreatePoll.js" type="text/javascript"></script>
  <script src="../API/utils.js" type="text/javascript"></script>
</head>

<body>
  <div id="allContent">
    <div id="header">
      <p>Create an Account</p>
    </div>

    <div id="tableContainer">
      <div id="tableRow">

        <div id="main">
          <div id="register">
            <form>
              <fieldset>
                
                <p><label for="username">Username</label> 
                  <input type="text" id="username" name="username" required></p>
                <p>Password: <input type="text" id="password"></p>
                <p>Your name: <input type="text" id="name"></p>
                <p><label for="userEmail">Your email: </label> 
                  <input type="text" id="yourEmail" required></p>
              </fieldset>
           
              <button id="subBtn" type="submit">Submit</button>
            </form>
          </div>

        </div>

        

      </div>
    </div>

   
    <button type="button" onclick="alert('Sorry, No Homes Yet!')">Back to Login page</button>
  </div>
</body>
</html>

