<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Show Result</title>

<script>
function jumpToHome() {
	window.location.href = "../templates/UserHome.html";
}
</script>
</head>
<body>
 <form>
        <section>
          <div><label>Your voting result:</label><br><textarea id="result" name="result"></textarea></div>       
         <br>
        </section>
        
        <section>
          <div><label>Final result:</label><br><textarea id="finalResult" name="finalResult"></textarea></div>       
         <br>
        </section>
        
        
      <div><hr/></div>

      <div>
        <button onclick ="jumpToHome()" id = "homeButton" type="button">Back to home</button>
      </div>

 </form>
</body>
</html>