<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Voting Result</title>
<script src="scripts/SmartVote.js" type="text/javascript"></script>
<script src="scripts/utils.js" type="text/javascript"></script>
<script src="VoteSubmitStatus.js" type="text/javascript"></script>
</head>
<body>
 <form>
        <section>
          <div><label>Your voting result:</label><br><textarea id="result" name="result"></textarea></div>       
         <br>
        </section>
      <div><hr/></div>

      <div>
        <button id = "homeButton" onClick = "jumpToUserHome()" type="button">Back to home</button>
      </div>

 </form>
</body>
</html>