<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Retrive Your Password</title>
<link type="text/css" rel="stylesheet" href="../css/default.css">
<script src="scripts/SmartVote.js" type="text/javascript"></script>
<script src="scripts/utils.js" type="text/javascript"></script>
<script src="../RetrivePassword/RetrivePassword.js" type="text/javascript"></script>


</head>

<body>
	<div id="allContent">
		<div id="header">
			<p>Retrive Your Password</p>
		</div>

		<div id="tableContainer">
			<div id="tableRow">

				<div id="main">
					<div id="register">
						<form>
							<fieldset>
								<p>To retrive your password, please enter your email address</p>

								<p>
									<label for="userEmail">Your email: </label> <input type="text"
										id="yourEmail" required>
								</p>

							</fieldset>

							<button id="subBtn" type="submit">Retrive</button>
						</form>
					</div>

				</div>

			</div>
		</div>


		<button type="button" onclick="jumpToLogin()">Back
			to Login page</button>
	</div>
</body>
</html>

